<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894037531937-epn87ciu4c2v555fbm4q4665moqut80q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894037531937-epn87ciu4c2v555fbm4q4665moqut80q</string>
	<key>API_KEY</key>
	<string>AIzaSyCFHCEfSj2hw18oUsoqqnOfV6TPpqUZYsc</string>
	<key>GCM_SENDER_ID</key>
	<string>894037531937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dus.KexpTVStream</string>
	<key>PROJECT_ID</key>
	<string>kexp-tvos</string>
	<key>STORAGE_BUCKET</key>
	<string>kexp-tvos.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894037531937:ios:28df7f5df649254650f260</string>
	<key>DATABASE_URL</key>
	<string>https://kexp-tvos.firebaseio.com</string>
</dict>
</plist>